# Ignore all files with a specific extension
# *.yaml
*.history
*.gitignore

# Ignore specific files
# secret.txt
# config.yaml

# # Ignore specific directories
# node_modules/
# dist/
# build/

# # Ignore all files in a directory except one
# docs/*
# !docs/README.md